doctype html
html(lang='de')
   head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      title FYF – Face Your Fears
      meta(name='description', content='FYF – Face Your Fears: Übungsmarathon gegen soziale Ängste.')
      meta(name='viewport', content='width=device-width, initial-scale=1')

      link(rel='stylesheet', href='styles/styles.css')
      link(rel='stylesheet', href='styles/font-awesome.min.css')
   body
      .container
         header.page-header
            img(src='images/skateboard.jpg')
            h1: a(href='/') // FYF – Face Your Fears 
      block content
      block scripts
