doctype html
html(lang='en')
   head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      title 
      meta(name='description', content='**TODO**')
      meta(name='viewport', content='width=device-width, initial-scale=1')

      link(rel='stylesheet', href='styles/styles.css')
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:100,400,700,100italic,400italic,700italic')
      //- link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900')
      //- link(rel='stylesheet', href='http://basehold.it/33')

   body
      header.page-header
         .container
            h1: a(href='/') Shame Attacks 
            //- nav
            //-    a(href='/about') about
      block content
      block scripts
