daqua =    #7FDBFF
dblue =    #0074D9
dnavy =    #001F3F
dteal =    #39CCCC
dgreen =   #2ECC40
dolive =   #3D9970
dlime =    #01FF70
dyellow =  #FFDC00
dorange =  #FF851B
dred =     #FF4136
dfuchsia = #F012BE
dpurple =  #B10DC9
dmaroon =  #85144B
dwhite =   #ffffff
dsilver =  #dddddd
dgray =    #aaaaaa
dblack =   #111111

