#intro
    margin-top: unit

.page-header
    text-align: left
    h1 
        text-transform: uppercase
        font-weight: 100
    
h2
    font-weight: 200
    text-transform: uppercase
    color: daqua
    background: dark