body
    margin-bottom: unit

.fa
    margin-right: 10px

#intro
    margin-top: unit

.task
    margin-bottom: unit
    padding: 0.5 * unit
    p
        margin: 0
    h2 
        margin: 0
    .description
        margin-top: unit

.task.current
    background-color: #ddd

.task:not(.current)
    border: 2px solid #ddd
    

.page-header
    margin-top: unit
    position: relative
    h1
        position: absolute
        bottom: 30px
        font-weight: normal
        a 
            background-color: dark
            color: white
            padding: 5px 10px

    // text-align: left
    // h1 
    //     background-color: transparent
    
// h2
//     font-weight: 200
//     text-transform: uppercase
//     color: daqua
//     background: dark