//
// typography
//
baseFontSize = 22px
baseLineHeight = 1.5
scaleFactor = 1.1
sansFont = Lato, sans-serif
serifFont = Merriweather, serif
bodyFont = sansFont
headerFont = sansFont

unit = baseLineHeight * baseFontSize

//
// breakpoints
//
bigScreen = '(min-width: 40em)'

//
// colors
//
dark = rgba(0,0,0,0.87)

textColor = dark

baseBackground = white
buttonColor = baseColor
softBorderColor = grey

pageHeaderBackground = dark
pageHeaderColor = daqua

//
// misc
//

baseBorder = 1px solid baseColor
maxPageWidth = 20 * unit
